rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.rol == 'admin';
    }

    match /usuarios/{usuarioId} {
      allow create: if isSignedIn() && request.auth.uid == usuarioId;

      allow read, update: if isSignedIn() && request.auth.uid == usuarioId;
      allow read, update, delete: if isAdmin();

      match /postulaciones/{postulacionId} {
        allow read: if isAdmin() ||
          (isSignedIn() && resource.data.usuarioId == request.auth.uid);
        allow create: if isSignedIn() &&
          request.auth.uid == usuarioId &&
          request.resource.data.usuarioId == request.auth.uid &&
          request.resource.data.trabajoId == postulacionId;
        allow update, delete: if isAdmin();
      }
    }

    match /trabajos/{trabajoId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();

      match /postulaciones/{postulacionId} {
        allow create: if isSignedIn() &&
          request.resource.data.usuarioId == request.auth.uid &&
          request.resource.data.trabajoId == trabajoId;
        allow read: if isAdmin() ||
          (isSignedIn() && resource.data.usuarioId == request.auth.uid);
        allow update, delete: if isAdmin();
      }
    }

    match /perfiles/{perfilId} {
      allow create, read, update: if isSignedIn() && request.auth.uid == perfilId;
      allow delete: if isAdmin() || (isSignedIn() && request.auth.uid == perfilId);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}